// * Максимальная ширина макета
$container-width: 1145;

:root {
	// * Colors
	--dark: #000;
	--white: #fff;
	--nobel: #b3b3b3;
	--tuna: #37373f;
	--california: #fc9b09;
	--cornflower-blue: #5286ec;
	--silver: #c7c7c7;
}
