.header {
	padding: 40px 0;

	&__wrap {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 35px;
		cursor: default;
	}

	&__logo-img {
		width: 130px;
		height: 22px;
	}

	&__telephone {
		display: flex;
		align-items: center;
	}

	&__text {
		margin: 0;
		font-size: 14px;
		color: var(--nobel);
	}

	&__link {
		transition: color 0.4s;

		&:hover {
			color: var(--california);
		}
	}
}
